.button-setting-widget:hover {
    background-color: rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.button-setting-widget {
    display: inline-block;
    padding-left: 2px;
    padding-right: 2px;
}

.dx-icon-export {
    background-repeat: no-repeat;
    background-position: -60px -135px;
    -webkit-background-size: auto;
    -moz-background-size: auto;
    -o-background-size: auto;
    background-size: auto;
    background-image: url(https://js.devexpress.com/Demos/DevAV/images/sprite.png);
    width: 20px;
    height: 20px;
    display: block;
}