
.eternity-box-actions {
    height: auto;
    float: left;
    top: 0px;
    bottom: 0px;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left top;
    display: inline-block;
    background-color: #3869bb;
    width: 100%;
}

.eternity-box-actions ul {
    display: inline-block;
    list-style: none;
    border: 0px solid rgba(255, 255, 255, 0.15);
    border-width: 1px 0 0 0;
    margin-top: 10px;
    margin-bottom: 10px;
}